#Detail{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: #e0e0e0;
    margin: 0;
}
header{
    background-color: rosybrown;
}
header>a:link{
    color: black;
    text-decoration: none;
}
header>a:last-child{
    float: right;
}
footer{
    background-color: rosybrown;
}
footer>p:nth-child(2){
    float: right;
}
#contentDetail1{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;

}
/* #contentDetail2{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
} */
#contentDetail3{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
}
footer>p>a:first-child{
    color: black;
    text-decoration: none;
}