#l1{
  width: 100%;
  height: 100%;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 161px;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid grey; /* Blue*/
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#mainDivPayment{
  width: 100%;
  height: 100%;
}
/* body start  */
body{
  background-color: #e0e0e0;
  margin: 0;
}
/* media query start*/
@media (min-width: 769px) {
  #top1 {
      background-color:lightpink;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  #top1 {
      background-color: lightgreen;
  }
 
}
@media (max-width: 576px) {
  #top1 {
      background-color: orange;
  }
}

/* media query end*/
