#mainDivPayment{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: #e0e0e0;
    margin: 0;
}
header{
    background-color: rosybrown;
}
header>a:link{
    color: black;
    text-decoration: none;
}
header>a:last-child{
    float: right;
}
footer{
    background-color: rosybrown;
}
footer>p>a:first-child{
    color: black;
    text-decoration: none;
}
footer>p:nth-child(2){
    float: right;
}

.contentPayment1{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 50%;
}
.contentPayment2{
    margin: 4%;

}
.contentPayment3{
    border: 1px solid black;
    padding-top: 2px;
    padding-left: 4px;
    margin: 4%;
    
}